@import '../../../styles/variable'

.title
    @extend %font_size_32
    @extend %font_family_oswald

.slider_btn
    border:3px $solid #223771
    border-radius: 50%
    width: $sixty_px
    height: $sixty_px
    &:focus,
    &:hover
        border:3px $solid #223771

.font_size_20
    @extend %font_size_20
        